.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relatives;
}

.main .title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 4rem;
  max-width: 480px;
}

.title span { font-weight: bold; }

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
}

.flex .card {
  border: 2px solid white;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 200px;
}

.card .form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .form__group label {
  display: none;
}

.card .form__group input {
  padding: .8rem;
  background-color: var(--dark);
  border: none;
  border: 4px solid transparent;
  border-bottom: 4px solid var(--blue);
  border-radius: 5px;
  width: 200px;
  transition: all .3s ease-in-out;
  color: white;
}

.form__group input:focus {
  outline: none;
  border: 4px solid var(--blue);
  animation: round 2s;
}

.form__group .error {
  border: 4px solid red;
  animation: shake 0.2s;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

.card button {
  border: none;
  border: 4px solid white;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: .5rem;
  position: absolute;
  bottom: -24px;
  transition: all .2s ease-in-out;
}

.card button:hover {
  background-color: white;
  color: var(--blue);
  border: 4px solid var(--blue);
}

.card button:active {
  transform: translateY(5px);
  transition: all .1s ease-in-out;
}

.main .shorten__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.shorten__box span {
  color: var(--yellow);
  font-weight: bold;
}

.shorten__box button {
  all: unset;
  font-size: 32px;
  cursor: pointer;
}

.shorten__box button:hover {
  color: var(--blue);
}

.shorten__box button:active {
  transform: translateY(5px);
  transition: all .1s ease-in-out;
}

.container footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .4rem;
  min-width: 240px;
}

.container .footer span {
  font-weight: bold;
}


@media (min-width: 425px) {
  .card .form__group input {
    width: 100%;
  }

  .card button {
    width: 240px;
  }
}